<mt:setvar name="screen_type" value="dialog-screen">
<mt:setvarblock name="page_title"><__trans phrase="EstCrawler - Scan All"></mt:setvarblock>
<mt:include name="dialog/header.tmpl">
<h2><__trans phrase="Successfully scanned all entries."></h2>
<form method="get" action="<mt:var name="script_url">">
    <div class="actions-bar">
        <div class="actions-bar-inner pkg actions">
            <button
                onclick="closeDialog(); return false"
                name="close_button"
                value="1"
                type="submit"
                title="<__trans phrase="Close">"
                ><__trans phrase="Close"></button>
        </div>
    </div>
</form>
<mt:include name="dialog/footer.tmpl">