<mtapp:setting
    id="est_db_path"
    label="<__trans phrase="Estraier DB Path">">
    <input name="est_db_path" id="est_db_path" size="50" value="<TMPL_VAR NAME=EST_DB_PATH ESCAPE=HTML>" />
</mtapp:setting>
